/BufferedOutputStreamTester.class
/BufferedReaderTester.class
/BufferedWriterTester.class
/CopyBytes.class
/CopyMaker.class
/DataInputStreamTester.class
/FileCopy.class
/FileOutputStreamTester.class
/FileWriterTester.class
/HelloWorld.class
/InputStreamTester.class
/Redirecting.class
/ThrowTest.class
